<ion-header>
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Información de Facturación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/credit-card.png"/>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        Banco Emisor
      </ion-col>
      <ion-col>
        Banco del Pacifico
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        No. de Tarjeta
      </ion-col>
      <ion-col>
        XXXX XXXX XXXX 3478
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ciudad
      </ion-col>
      <ion-col>
        Guayaquil
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Pais
      </ion-col>
      <ion-col>
        Ecuador
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ubicación
      </ion-col>
      <ion-col>
        -2.196, -79.886
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Referencia
      </ion-col>
      <ion-col>
        Av. Francisco de Orellana
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
